<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987169740253-26ulhk2tte2g7bm24vmldfqc40rvii7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987169740253-26ulhk2tte2g7bm24vmldfqc40rvii7n</string>
	<key>API_KEY</key>
	<string>AIzaSyD6YYngLa-WAghWo87LfcdXzjzatblx65o</string>
	<key>GCM_SENDER_ID</key>
	<string>987169740253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poseidonApp</string>
	<key>PROJECT_ID</key>
	<string>poseidon-4ae8f</string>
	<key>STORAGE_BUCKET</key>
	<string>poseidon-4ae8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987169740253:ios:4c76d19f9c941cfa6b1234</string>
</dict>
</plist>